@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro' !important;
    /*background: papayawhip;*/
    background: aliceblue;
}

/*#header {*/
/*    margin: auto;*/
/*    text-align: center;*/
/*}*/

.navbar{
    border-bottom: 2px solid purple;
    /*max-width: 992px;*/
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
}

.navbar a {
    color: black !important;
    margin: 0 20px;
    /*margin-top: 30px;*/
}

.navbar-toggler {
    color: purple !important;
    border: none !important;
    outline: none !important;
}

.navbar-toggler .fa {
    /*color: purple !important;*/
    /*border: none !important;*/
    /*outline: none !important;*/
    color: purple;
    font-size: 26px !important;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid purple;
    padding-bottom: 0px;
    /*margin-bottom: -10px !important;*/
}

#banner {
    margin-top: 55px !important;
    /*max-width: 992px !important;*/
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: blue solid 4px;*/
}

#bannerRow {
    width: 100%;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    /*border: red solid 2px;*/
}

#profileDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    /*width: 100%;*/
    height: 400px;
    object-fit: cover;
    object-position: center center;
    margin: auto;
    display: block;
}

#midDiv{
    padding: 0;
    height: 100px;
    margin: auto;
    background: transparent;
    backdrop-filter: grayscale(100%);
}






/*!* Cursor *!*/
/*.txt-type > .txt {*/
/*    border-right: 0.2rem solid #777;*/
/*}*/

.txt {
    border-right: 0.2rem solid #777;
    font-weight: 600;
    border-bottom: 1px solid purple;
}





/*#services {*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    border-bottom: 5px solid purple;*/
/*    background: none;*/
/*    width: 160px;*/
/*}*/

.blur{
    /*backdrop-filter: blur(8px) grayscale(100%) !important;*/
    backdrop-filter: blur(8px) contrast(50%);
    z-index: 2;
}


/*#carouselExampleInterval {*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    background: center;*/
/*    overflow: hidden;*/
/*}*/

/*#carouselExampleInterval .carousel-inner .carousel-item img {*/
/*    margin: auto;*/
/*}*/

/*@media only screen and (max-width: 1200px){*/

/*}*/

/*@media only screen and (max-width: 992px){*/

/*}*/

@media only screen and (max-width: 768px){
    .navbar {
        background-color: rgba(255,255,255,0.8);
    }
    .nav-link:hover {
        margin: 0 5px 0 17px;
        margin-text: 30px;
    }
}