@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro' !important;
    /*background: papayawhip;*/
    background: aliceblue;
}

/*#header {*/
/*    margin: auto;*/
/*    text-align: center;*/
/*}*/

.navbar{
    border-bottom: 2px solid purple;
    max-width: 992px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
}

.navbar a {
    color: black !important;
    margin: 0 20px;
    /*margin-top: 30px;*/
}

.navbar-toggler {
    color: purple !important;
    border: none !important;
    outline: none !important;
}

.navbar-toggler .fa {
    /*color: purple !important;*/
    /*border: none !important;*/
    /*outline: none !important;*/
    color: purple;
    font-size: 26px !important;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid purple;
    padding-bottom: 0px;
    /*margin-bottom: -10px !important;*/
}

#banner {
    margin-top: 55px !important;
    /*max-width: 992px !important;*/
    height: 50%;
    width: 100%;
    max-width: 992px;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: blue solid 4px;
}

#bannerRow {
    width: 100%;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    border: red solid 2px;
}

#profileDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#profile {
    /*width: 100%;*/
    height: 400px;
    object-fit: cover;
    object-position: center center;
    margin: auto;
    display: block;
}

#midDiv{
    padding: 0;
    height: 100px;
    margin: auto;
    background: transparent;
    backdrop-filter: grayscale(100%);
}

/*!* Cursor *!*/
/*.txt-type > .txt {*/
/*    border-right: 0.2rem solid #777;*/
/*}*/

.txt {
    border-right: 0.2rem solid #777;
    font-weight: 600;
    border-bottom: 1px solid purple;
}

/*#services {*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    border-bottom: 5px solid purple;*/
/*    background: none;*/
/*    width: 160px;*/
/*}*/

.blur{
    /*backdrop-filter: blur(8px) grayscale(100%) !important;*/
    backdrop-filter: blur(8px) contrast(50%);
    z-index: 2;
}


/* Contact Area CSS */

/*.section-heading{*/
/*    border-bottom: 2px solid purple;*/
/*    width: 580px;*/
/*    text-align: center !important;*/
/*    margin: auto;*/
/*}*/

.fplus-contact-area {
    position: relative;
    z-index: 1;
    min-height: 237.5px;
}

.contact_from {
    /*background-color: #fff;*/
    padding: 80px;
    border-top: 2px solid purple;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 99;
    top: 0;
}

/*#googleMap {*/
/*    width: 100%;*/
/*    height: 600px;*/
/*}*/

.contact_input_area .form-group .form-control {
    background-color: transparent;
    padding: 10px 0;
    line-height: 1;
    border: none;
    border-bottom: 1px solid #959595;
    border-radius: 0;
    font-size: 12px;
    /*color: #959595;*/
    font-weight: 300;
}

.contact_input_area .form-group textarea.form-control {
    height: 100px;
}

.contact_input_area .form-group .form-control:active,
.contact_input_area .form-group .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.contact_input_area button {
    width: 200px;
    height: 50px;
    /*background-color: cornflowerblue;*/
    /*color: #fff;*/
    font-size: 12px !important;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 !important;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 0 !important;
    margin-top: 50px;
}


/*#carouselExampleInterval {*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    background: center;*/
/*    overflow: hidden;*/
/*}*/

/*#carouselExampleInterval .carousel-inner .carousel-item img {*/
/*    margin: auto;*/
/*}*/

/*@media only screen and (max-width: 1200px){*/

/*}*/

/*@media only screen and (max-width: 992px){*/

/*}*/

@media only screen and (max-width: 768px){
    .navbar {
        background-color: rgba(255,255,255,0.8);
    }
    .nav-link:hover {
        margin: 0 5px 0 17px;
        margin-text: 30px;
    }
}